[submodule "third_party/minifb"]
	path = third_party/minifb
	url = https://github.com/emoon/minifb.git
[submodule "third_party/debugbreak"]
	path = third_party/debugbreak
	url = https://github.com/scottt/debugbreak
[submodule "third_party/emsdk"]
	path = third_party/emsdk
	url = https://github.com/emscripten-core/emsdk
